

.leftParent {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.leftParent .lefSide .image {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  height: 200px;
  border-radius: 8px;
}

.rightParent {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
  color: #006;
}
.sel {
  outline: none;
}
.sel:hover {
  border: 1px solid #006;
  color: orange;
}




.b {
  background-color: #006;
  padding: 10px;
  color: white;
  font-size: 16px;
  border: 1px solid #006;
  border-radius: 10px;
  cursor: pointer;
}
.b:hover {
  background-color: white;
  border: 1px solid #006;
  color: #006;
}

